<div style=" position: relative; text-align: center; color:white;">
    <div class="">
        <img src="breadcrumb_bg.jpg" alt="Transparent Image" class="transparent-image"
            style="width: 100%; height: 50%;">
    </div>
    <div
        style="position: absolute; font-family:Cambria, serif;  top: 70%; left: 50%; transform: translate(-50%, -50%); font-size:1mm;">
        <h1> About </h1>


    </div>
    <div style="position: absolute; top: 100%; left: 50%; transform: translate(-50%, -50%); background-color:green; border-radius: 7px;
    font-family:Cambria, serif;">
        <h3 style="margin: 20px; padding: 1px; ">
            Home // About
        </h3>

    </div>
</div>
<br>
<!-- About Section -->
<section id="about" class="container text-center ">
    <h2>welcome to Dairy farm!
    </h2><br>
    <div class="clv_underline"><img src="dairy_underline3.png" alt="image" /></div><br>
    <h5>Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dole magna aliqua. <br>
        Ut enim ad minim veniam quis nostrud exercitation. </h5>
</section>


<div class="row p-1" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
    <div class="col-md-6 text-center p-5 about-box" data-aos="fade-up" data-aos-duration="3000">
        <img src="dairy_about.jpg" alt="about" width="90%" height="90%">
    </div>

    <div class=" col-md-6 p-5" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="3000">
        <div class=" p-5 shadow-lg ">
            <h3 class="text-danger"> About Our Farm</h3>
            <p>
                Nana Dairy is a corporate citizen who understands the enormous significance of hygienic milk and
                dairy products for agro and industrial development. Leveraging the strength of superior product
                offerings, Pravarsha Dairy has strategized its foray into the consumer market, with the aim of
                being the market leader, earning respect and revenue for the stakeholders.
            </p>
            <h3 class="text-danger">
                Our mission
            </h3>
            <p>
                Our mission is to become the premier retailer of high-quality food products in India. To achieve
                this goal, we are committed to passionately focusing on customer value, being intolerant of
                waste, and serving as responsible citizens in our communities.
            </p>
            <h3 class="text-danger">
                Our Aim
            </h3>
            <p>
                Our aim is to meet the diverse needs of consumers every day by marketing and selling foods that
                are consistent and of high quality.
            </p>
        </div>
    </div>
</div>


    
    <div class="desi text-center" >
        <h1>Desi Goodness <br>
            The true Indian Milk</h1><br><br>
        <img src="photo.jpg" alt="photo">
      </div>
      
      <BR><br>