<br><br><br><br><br><br><br><br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h3 class="page-header">
                Popular Prodects
            </h3>
            <ul class="list-group">
                <li class="list-group-item">Amrakhand</li>
                <li class="list-group-item">Panner</li>
                <li class="list-group-item">Basundi</li>
                <li class="list-group-item">Dahi</li>
                <li class="list-group-item">khawa</li>
                <li class="list-group-item">Tup</li>
            </ul>

        </div>
        <div class="col-sm-9">
            <h1 class="text-center">Admin-Login Here</h1>
            <form (ngSubmit)="submitdata()">
               
                
                
                
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="adm.email">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="adm.password">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
