<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class=" mt-2 text-center  ">
                <br>
                <h4 class="p-2"> Mudhai Dairy Farm</h4>
                <hr>
                <i class=" fa fa-map"> satara to Phaltan Road , Dahigaon ,<br> <br> Satara - 415524<br>
                    <br>( Near Wather Station )</i><br>
                <hr>
                <i class="fa fa-phone ">+91-838001437</i>
                <hr>
                <p>Mobile No:+91-9922835481</p>
                <hr>
                <label for="email"> customerservicejustdial.com </label>
                <hr>
            </div>
        </div>

        <div class="col-sm-6 ">
            <h1 class="text-center">Contact Here</h1>
            <form>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                
                
                <div class="form-group">
                    <label for="emailid">Email Address:</label>
                    <input type="email" class="form-control" id="emailid" name="emailid" >
                </div>

                <div class="form-group">
                    <label for="text">phone:</label>
                    <input type="text" class="form-control" id="phone" name="phone" >
                </div>

                <div class="form-group">
                    <label for="text">Meassage:</label>
                    <input type="text" class="form-control" id="meassage" name="meassage" >
                </div>
                
                <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
        </div>  

        
   

</div>
</div>