<div class="container mt-5">
    <h1 class="text-center">Order Booking</h1>
    <div class="row">
        <div class="col-md-5">
            <div class="card product-card">
                <img src="Amrakhand.jpg" class="card-img-top" alt="Product Image"> <!-- Replace with your product image URL -->
                
            </div>
        </div>
        <div class="col-md-7">
            <h5 class="card-title">Amrakhand</h5>
            <p class="card-text">This is a brief description of the product. It provides essential information about the product features and benefits.</p>
            <p class="price"> $29.99</p>
            <p class="rating">Rating: ★★★★☆ (4.5)</p>
            <h2>Prodect ditails</h2>
            <div class="card-body">
                <button  (click)="navigatetoBuy()" class="btn btn-primary">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card product-card">
                <img src="anjir-rabadi2.jpg" class="card-img-top" alt="Product Image"> <!-- Replace with your product image URL -->
                <div class="card-body">
                    <button  (click)="navigatetoBuy()" class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h5 class="card-title">Amrakhand</h5>
            <p class="card-text">This is a brief description of the product. It provides essential information about the product features and benefits.</p>
            <p class="price"> $29.99</p>
            <p class="rating">Rating: ★★★★☆ (4.5)</p>
            <h2>Prodect ditails</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card product-card">
                <img src="anjir-rabdi.jpg" class="card-img-top" alt="Product Image"> <!-- Replace with your product image URL -->
                <div class="card-body">
                    <button  (click)="navigatetoBuy()" class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h5 class="card-title">Amrakhand</h5>
            <p class="card-text">This is a brief description of the product. It provides essential information about the product features and benefits.</p>
            <p class="price"> $29.99</p>
            <p class="rating">Rating: ★★★★☆ (4.5)</p>
            <h2>Prodect ditails</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="card product-card">
                <img src="anjir-rabdi.jpg" class="card-img-top" alt="Product Image"> <!-- Replace with your product image URL -->
                <div class="card-body">
                    <button  (click)="navigatetoBuy()" class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h5 class="card-title">Amrakhand</h5>
            <p class="card-text">This is a brief description of the product. It provides essential information about the product features and benefits.</p>
            <p class="price"> $29.99</p>
            <p class="rating">Rating: ★★★★☆ (4.5)</p>
            <h2>Prodect ditails</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card product-card">
                <img src="anjir-rabdi.jpg" class="card-img-top" alt="Product Image"> <!-- Replace with your product image URL -->
                <div class="card-body">
                    <button  (click)="navigatetoBuy()" class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h5 class="card-title">Amrakhand</h5>
            <p class="card-text">This is a brief description of the product. It provides essential information about the product features and benefits.</p>
            <p class="price"> $29.99</p>
            <p class="rating">Rating: ★★★★☆ (4.5)</p>
            <h2>Prodect ditails</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card product-card">
                <img src="anjir-rabdi.jpg" class="card-img-top" alt="Product Image"> <!-- Replace with your product image URL -->
                <div class="card-body">
                    <button  (click)="navigatetoBuy()" class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h5 class="card-title">Amrakhand</h5>
            <p class="card-text">This is a brief description of the product. It provides essential information about the product features and benefits.</p>
            <p class="price"> $29.99</p>
            <p class="rating">Rating: ★★★★☆ (4.5)</p>
            <h2>Prodect ditails</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="card product-card">
                <img src="anjir-rabdi.jpg" class="card-img-top" alt="Product Image"> <!-- Replace with your product image URL -->
                <div class="card-body">
                    <button  (click)="navigatetoBuy()" class="btn btn-primary">Buy Now</button>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h5 class="card-title">Amrakhand</h5>
            <p class="card-text">This is a brief description of the product. It provides essential information about the product features and benefits.</p>
            <p class="price"> $29.99</p>
            <p class="rating">Rating: ★★★★☆ (4.5)</p>
            <h2>Prodect ditails</h2>
        </div>
    </div>
        